.home {
  .header {
    height: 55px;
    border-bottom: solid 1px $sen;
    display: flex;
    .text {
      font-size: 18px;
      font-weight: bold;
      line-height: 55px;
      padding-left: 20px;
      margin-right: auto;
    }
    .icon {
      height: 55px;
      line-height: 55px;
      font-size: 20px;
      margin-right: 10px;
      color: $orenge;
      & a:visited {
        color: $orenge;
      }
    }
  }
  .time-line {
    overflow: scroll;
    .tweet-form {
      display: flex;
      border-bottom: solid 10px $sen;
      padding: 10px;
      .icon {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        background-color: gray;
      }
      .form {
        width: 520px;
        &__field {
          min-height: 30px;
          line-height: 30px;
          padding: 10px;
          font-size: 20px;
          color: gray;
        }
        &__lower {
          display: flex;
          margin-top: 10px;
          .image {
            font-size: 22px;
            color: $orenge;
          }
          .buttom {
            height: 40px;
            line-height: 40px;
            margin-left: auto;
            & a {
              font-size: 16px;
              font-weight: bold;
              background-color: $orenge;
              padding: 12px 18px;
              border-radius: 25px;
              cursor: pointer;
              text-decoration: none;
              &:visited {
                color: white;
              }
            }
          }
        }
      }
    }
    
    .tweet-list {
      .tweet {
        padding: 10px;
        display: flex;
        border-bottom: solid 1px $sen;
        &__icon {
          height: 50px;
          width: 50px;
          border-radius: 25px;
          background-color: gray;
          margin-right: 10px;
        }
        &__content {
          width: 520px;
          .upper {
            display: flex;
            .user-name {
              margin-right: 5px;
              font-weight: bold;
            }
            .account-name {
              color: gray;
            }
            .time {
              margin-right: auto;
              color: gray;
            }
            .button {
              font-size: 20px;
              color: gray;
              & a:visited {
                color: gray;
              }
            }
          }
          .button {
            margin-top: 10px;
            display: flex;
            font-size: 15px;
            color: gray;
            & li {
              display: flex;

              width: 120px;
              .icon {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}