.top-page {
  min-height: 100vh;
  width: 100vw;
  background-color: $haikei;
  display: flex;
  .left-bar {
    position: fixed;
    min-height: 100vh;
    width: 25vw;
  }

  .main {
    width: 598px;
    border-left: solid 1px $sen;
    border-right: solid 1px $sen;
    color: white;
    margin-left: 25vw;
    padding-bottom: 50px;
  }
  
  .right-bar {
    min-height: 100vh;
    width: 30vw;
    color: white;
  }
}

.edit-user-profile {
  display: none;
}

.edit-user-profile.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

