.tweet-list {
  .tweet {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px $sen;
    &__icon {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background-color: gray;
      margin-right: 10px;
      img {
        border-radius: 50%;
        height: 100%;
        min-width: 100%;
      }
    }
    &__content {
      width: 520px;
      .upper {
        display: flex;
        .user-name {
          margin-right: 5px;
          font-weight: bold;
          a {
            color: white;
            text-decoration: none;
            &:visited {
              color: white;
            }
          }
        }
        .time {
          margin-right: auto;
          color: gray;
        }
      }
      .image {
        img {
          max-height: 300px;
          max-width: 520px;
        }
      }
    }
  }
}